name: CI & CD
on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master
jobs:
    Testing:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Use Node.js
              uses: actions/setup-node@v2-beta
              with:
                  node-version: '12'
            - name: Install & Test
              run: |
                  npm install
                  npm test
